$primary-font: "Open Sans";
$font-size-autocomplete: 12px;
$font-size-autocomplete-value: 10px;
$font-size-buttons: 12px;
$font-size-labels: 12px;
$font-size-normal: 13px;
$font-size-h1: 26px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-h4: 13px;
$font-size-h5: 13px;

$primary-color: rgb(100, 90, 130);
$primary-color-hover: rgb(80, 70, 100);
$secondary-color: rgb(220, 220, 220);
$secondary-color-hover: rgb(200, 200, 200);
$border-color: rgb(180, 180, 180);
$background-color: rgb(255, 255, 255);
$tooltip-text-color: rgb(255, 255, 255);
$autocomplete-value-color: rgb(255, 255, 255);
$autocomplete-value-background: rgb(60, 120, 180);
$font-color: rgb(20, 20, 20);
$background-color-disabled: rgb(220, 220, 220);
$font-color-disabled: rgb(120, 120, 120);
$background-color-scrollbar: rgb(220, 220, 220);
$label-color: rgb(120, 120, 120);

$error-color: rgb(200, 20, 20);
$warning-color: rgb(250, 200, 0);
$hint-color: rgb(60, 120, 180);

$info-color: rgb(60, 120, 180);
$info-background-color: rgb(220, 240, 250);
$warning-color: rgb(200, 20, 20);
$warning-background-color: rgb(255, 230, 230);
$quote-color: rgb(255, 230, 140);
$quote-background-color: rgb(255, 250, 220);
$link-description-color: rgb(110, 70, 140);
$link-description-background-color: rgb(230, 220, 240);
$emph-background-color: rgb(240, 240, 240);
$emph-border-color: rgb(200, 200, 200);
$inline-link-color: rgb(200, 20, 20);
$date-hover-color: rgb(250, 240, 200);
$date-selected-color: rgb(60, 120, 180);
$date-selected-color-hover: rgb(50, 100, 150);
$datepicker-background-color: rgb(230, 230, 230);

$tooltip-tip-size: 6px;
$row-height: 35px;
$row-input-height: 30px;
$autocomplete-item-height: 30px;
$autocomplete-max-items: 6;
$scrollbar-width: 15px;

$border-radius: 4px;